.file-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 65%; */
  margin: 20px auto;
  padding: 10px;
  /* border: 3px solid black; */
}
.file-list img {
  height: 128px;
  width: 128px;
  object-fit: cover;
  padding: 4px;
}
