.login-layout-flow {
  height: 100%;
  /* width: 256px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-wrapper {
  width: 384px;
  /* background-color: red;/ */
  margin: 0 auto;
  padding: 24px;
}
.login-info-box {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  /* padding: 8px; */
}

.login-title {
  margin: 0;
  padding: 0;
}

.provider-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid rgb(46, 46, 46);
  padding: 0 0 24px 0;
  margin: 0 0 24px 0;
}

.provider {
  background-color: rgb(46, 46, 46);
  width: 100%;
}

hr {
}
.credentials-info {
  text-align: center;
  margin-bottom: 16px;
}
.login-form-input {
  background: transparent;
  /* margin: 0 auto; */
  padding: 16px 24px;
  width: 75%;
  /* height: 100%; */

  border: 1px solid rgb(116, 116, 116);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 16px;
}

.sign-button {
  width: 100%;
}
.page-change {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  /* background-color: red; */
}
